gatsby
gh
gh-dash
ghc
github-copilot
helix
iterm2
mdless
micro
neofetch
nvim.bak
planetscale
qBittorrent
spotify-tui
spotifyd
todo
weechat
wireshark
yarn/global
.DS_Store
csharp.history
GameMakerStudio2-Beta
JetBrains
Loader/Loader/NetSparkleUpdater
Microsoft\VisualStudio Services/8.0/Cache
Microsoft\VisualStudio Services/8.0/Cache
Microsoft\VisualStudio Services/8.0/Cache
Profile Pictures
adb
alacritty
configstore
dotconfig
fish/*
!fish/config.fish
!fish/fish_plugins
